name: money_tracker
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.9.2

workspace:
  - packages/shared
  - packages/ui
  - packages/auth
  - packages/settings

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  shared:
    path: ./packages/shared
  ui:
    path: ./packages/ui
  auth:
    path: ./packages/auth
  settings:
    path: ./packages/settings
  cupertino_icons: ^1.0.8
  flutter_screenutil: ^5.9.3
  go_router: ^17.0.0
  flutter_hooks: ^0.21.3+1
  flutter_bloc: ^9.1.1
  easy_localization: ^3.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  melos: ^7.3.0
  change_app_package_name: ^1.5.0

flutter:
  uses-material-design: true
  assets:
    - ./assets/config/
    - ./assets/translations/
    - ./packages/ui/assets/images/

  fonts:
    - family: ibmPlexSansThai
      fonts:
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Thin.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-ExtraLight.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Light.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Regular.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Medium.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-SemiBold.ttf
        - asset: ./packages/ui/assets/fonts/ibm_plex_sans_thai/IBMPlexSansThai-Bold.ttf

melos:
  command:
    bootstrap:
      runPubGetInParallel: true

  scripts:
    generate:
      exec: dart run build_runner build --delete-conflicting-outputs && dart run shared:create_locale_keys MELOS_PACKAGE_NAME
      packageFilters:
        flutter: true

scripts:
  generate:
    $script: dart run build_runner build --delete-conflicting-outputs && dart run shared:create_locale_keys app
    $description: Generate code for all packages

  create-feature:
    $script: dart run shared:create_feature ${0}
    $description: Create a new feature package
