<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX3MXhnI0BORH1zag0wc7If7uG3rpMEjE</string>
	<key>GCM_SENDER_ID</key>
	<string>415174864312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.vasapol.moneytracker.stg</string>
	<key>PROJECT_ID</key>
	<string>money-tracker-stg-ab622</string>
	<key>STORAGE_BUCKET</key>
	<string>money-tracker-stg-ab622.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415174864312:ios:6e9e0e44824147cc8bb34d</string>
</dict>
</plist>